.about {
    width: 100%;
    min-height: 100vh;
    text-align: center;
    background: var(--blue-lt);
    color: var(--grey-md);
    padding-left: 8%;
    padding-right: 20%;
    position: relative;
    padding-bottom: 50px;
    padding-top: 50px;
}

.writeupGrid {
    width: 100%;
    min-height: 100vh;
}

.profile {
    position: relative;
    left: calc(50% - 200px);
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
}

.header {
    margin-top: 50px;
    border: 3px solid var(--grey-md);
    padding: 25px 50px;
    position: relative;
}

.hello {
    font-size: 1.5rem;
    font-family: "Lobster", cursive;
    position: absolute;
    top: -30px;
    left: calc(50% - 100px);
    padding: 10px 15px;
    background: var(--blue-lt);
}

.name {
    margin-top: 35px;
    font-size: 3em;
    font-weight: bold;
    font-family: "Gothic A1", sans-serif !important;
}

.prompt {
    margin-top: 50px;
    height: 2rem;
    animation: shift 2s infinite;
}

@keyframes shift {
    0% {
        transform: translateY(0px);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(50px);
        opacity: 0;
    }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 550px) {
    .header {
        padding: 25px 25px;
    }

    .profile, .name {
        display: none;
    }

    .about {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media only screen and (max-width: 768px) and (min-width: 551px) {
    .about {
        padding-right: 117px;
    }
}

@media screen and (max-width: 1200px) and (min-width: 769px) {
    .about {
        padding-left: 6%;
        padding-right: 300px;
        padding-top: 100px;
    }
    
    .prompt {
        margin-top: 25px;
        height: 2rem;
        animation: shift 2s infinite;
    }
}

@media screen and (max-width: 1279px) {
    .profile {
        width: 300px;
        height: 300px;
        left: calc(50% - 150px);
    }

    .name {
        font-size: 2.5em;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 1279px) and (min-width: 1201px) {
    .about {
        padding-top: 100px;
        padding-bottom: 10%;
        padding-left: 75px;
        padding-right: 300px;
    }
}



@media screen and (max-width: 1500px) and (min-width: 1280px) {
    .profile {
        width: 300px;
        height: 300px;
        left: calc(50% - 150px);
    }
    .about {
        padding-left: 75px;
        padding-right: 300px;
    }

    .name {
        font-size: 2.25em;
    }
}