.experience {
    width: 100%;
    min-height: 100vh;
    text-align: center;
    background: var(--yellow);
    color: var(--grey-md);
    padding-left: 117px;
    padding-bottom: 115px;
    padding-top: 115px;
}