.container {
    text-align: left;
    font-size: 1.2em;
    margin-top: 110px;
    padding-left: 20%;
    
    .text {
        margin-top: 30px;
    }

    .title {
        font-weight: bold;
    }
}

.profile {
    width: 100%;
    text-align: center;
}

@media screen and (min-width: 1921px) {
    .container {
        padding-left: calc(10% + 150px);
    }
}