.hackathons {
    text-align: center;
    background: var(--grn-lt-2);
    color: var(--grn-dk);
    padding-left: 4%;
    padding-right: 20%;
    padding-bottom: 115px;
    padding-top: 115px;
}

@media screen and (max-width: 550px) {
    .hackathons {
        padding-right: 8%;
    }
}

@media only screen and (max-width: 768px) and (min-width: 551px) {
    .hackathons {
        padding-right: 117px;
    }
}

@media screen and (max-width: 1200px) and (min-width: 769px) {
    .hackathons {
        padding-right: 300px;
        padding-top: 100px;
    }
}
