.job-card {
    text-align: left;
    font-size: 1.2em;
    margin-top: 110px;
    
    .text {
        margin-top: 30px;
    }

    .title {
        font-weight: bold;
    }
}

.hackathon-card__img {
    width: 100%;
    text-align: center;
}