.jobs {
    text-align: center;
    background: var(--yellow);
    padding-left: 8%;
    padding-right: 20%;
    padding-bottom: 115px;
    padding-top: 115px;
}

@media screen and (max-width: 550px) {
    .jobs {
        padding-right: 8%;
    }
}

@media only screen and (max-width: 768px) and (min-width: 551px) {
    .jobs {
        padding-right: 117px;
    }
}

@media screen and (max-width: 1200px) and (min-width: 769px) {
    .jobs {
        padding-right: 300px;
        padding-top: 100px;
    }
}