.container {
    text-align: left;
    font-size: 1.2em;
    margin-top: 110px;
    // padding-left: 20%;
    
    svg {
        transform: scale(.75);
    }

    .text {
        margin-top: 50px;
    }

    .title {
        font-weight: bold;
    }

    .description {
        font-size: 1.0em;
        margin-top: 35px;
    }
}

.profile {
    width: 100%;
    text-align: center;
}

@media screen and (min-width: 1921px) {
    // .container {
    //     padding-left: calc(10% + 150px);
    // }
}