.scroller {
    left: 100%;
    margin-right: 36px;
    position: -webkit-sticky;
    position: sticky;
    top: 32px;
    z-index: 200;
    height: 0px;
    overflow: visible;
    // transform: scale(.8) translateY(calc(calc(100vh - 708px) / 2)) translateX(50vw);
    
}

.scrollButton {
    svg {
        stroke: var(--grey-md) !important;
    }
    outline: none !important;
    border: none;
    background: none;
}

.scrollButton:hover {
    color: var(--grn-md);
    transition: .4s ease-out;
}

@media only screen and (max-width: 768px) {
    .scroller {
        display: none;
    }
}

@media screen and (max-width: 1279px) {
    .scroller {
        // transform: scale(.8) translateY(calc(calc(100vh - 708px) / 2)) translateX(calc(50vw - 50px));
    }

    .name {
        font-size: 2.5em;
        margin-bottom: 50px;
    }
}
