.card {
    outline: none !important;
    border: none;
    background: none;
    color: var(--grey-md);
    transition: all .2s ease-out;

    svg {
        stroke: var(--grey-md) !important;
        stroke-width: 3px;
        fill: none;
        transition: all .2s ease-out;
    }

    .label {
        margin-top: 20px;
        font-size: 30px;
        transition: all .2s ease-out;
    }

    &.active {
        color: var(--blue-md);
    }
}

.card:not(:last-child) {
    margin-bottom: 50px;
}

.card:nth-child(2) {
    margin-top: 35px;
}

.card:last-child {
    margin-bottom: 35px;
}

.card:hover {
    cursor: pointer;

    svg {
        stroke: var(--grn-md) !important;
    }
    
    .label {
        color: var(--grn-md);
    }
}
