.skillset {
    text-align: center;
    background: var(--blue-lt-f);
    color: var(--blue-dk);
    padding-left: 8%;
    padding-right: 20%;
    padding-bottom: 115px;
    padding-top: 115px;
}

.offsetter {
    margin-top: 50px;

    .skills__header {
        width: 100%;
        font-size: 25px;
        text-align: left;
    }
}

.legend__item {
    padding-top: 50px;
    padding-left: 25px;
}

.legend__item--first {
    padding-top: 50px;
}

@media screen and (max-width: 550px) {
    .skillset {
        padding-right: 8%;
    }
    .legend {
        display: none !important;
    }
    .ratings {
        padding: 14px !important;
    }
}

@media screen and (max-width: 768px) and (min-width: 551px) {
    .skillset {
        padding-right: 117px;
    }
}

@media screen and (max-width: 1200px) and (min-width: 769px) {
    .skillset {
        // padding-left: 75px;
        padding-right: 300px;
        padding-top: 100px;
    }
    .legend__item {
        padding-top: 10px;
        padding-left: 25px;
    }
    
    .legend__item--first {
        padding-top: 10px;
    }
}

@media screen and (max-width: 1280px) {
    .legend__item {
        padding-top: 10px;
        padding-left: 25px;
    }
    
    .legend__item--first {
        padding-top: 10px;
    }
}